{
    # https://caddyserver.com/docs/caddyfile/options#local-certs
    local_certs # enables local certificate generation
}

# https://carlo.vercel.app/blog/how-to-setup-local-https-development-with-caddy
192.168.1.202, localhost {
    reverse_proxy localhost:8000
    tls internal
}