{
    # https://caddyserver.com/docs/caddyfile/options#local-certs
    local_certs # enables local certificate generation
}

:8080 {
    reverse_proxy localhost:8000
    tls internal # generates local certificate
}